     :root{
    --main-color:#474B4F;
    --secondary-color:#222629;
    --main-text:#61892F;
    --secondary-text:#86C232;
    --user-color:#903E3C;
    --user-alert-color:#C59691;
    --hospital-alert-color:#78BBAB;
    --hospital-color:#3AAD92;
}

.rowOne {
background-color:var(--main-color)
}
.rowTwo{
        background-color:#F7F7F7;
        height:100vh;
}
h5{
    color:white;
}

.dashboard{

    border-radius:10px;
    background-color:var(--main-color);
}
.dashboard:hover{
    background-color:grey;

}

.para{
    color:white;
}