   <div class="alert " style="background-color:var(--user-alert-color);">
            Last updated On {{stock.date_created}}
        </div>
 <div class="container mt-5">

            <h2 class="text-center h4 mt-5">Whole Blood Stock</h2>
            <div class="row">
                <div class="col rounded-pill pills text-light m-1 text-center">
                <label for="w_a_positve">A+</label>
                    <span class="h5">{{stock.w_a_positive}}</span>
                </div>
                <div class="col rounded-pill pills text-light m-1 text-center">
                <label for="w_a_negative">A-</label>
                    <span class="h5">{{stock.w_a_negative}}</span>
                </div>
                <div class="col rounded-pill pills text-light m-1 text-center">
                <label for="w_b_positive">B+</label>
                    <span class="h5">{{stock.w_b_positive}}</span>
                </div>
                <div class="col rounded-pill pills text-light m-1 text-center">
                <label for="w_b_negative">B-</label>
                    <span class="h5">{{stock.w_b_negative}}</span>
                </div>
                <div class="col rounded-pill pills text-light m-1 text-center">
                <label for="w_ab_positive">AB+</label>
                    <span class="h5">{{stock.w_ab_positive}}</span>
                </div>
                <div class="col rounded-pill pills text-light m-1 text-center">
                <label for="w_ab_negative">AB-</label>
                    <span class="h5">{{stock.w_ab_negative}}</span>
                </div>
                <div class="col rounded-pill pills text-light m-1 text-center">
                <label for="w_o_positive">O+</label>
                    <span class="h5">{{stock.w_o_positive}}</span>
                </div>
                <div class="col rounded-pill pills text-light m-1 text-center">
                <label for="w_o_negative">O-</label>
                    <span class="h5">{{stock.w_o_negative}}</span>
                </div>
            </div>

             <h2 class="text-center h4 mt-5"> Blood component Stock</h2>
            <div class="row">
                <div class="col rounded-pill pills text-light m-1 text-center">
                <label for="b_a_positve">A+</label>
                    <span class="h5">{{stock.b_a_positive}}</span>
                </div>
                <div class="col rounded-pill pills text-light m-1 text-center">
                <label for="b_a_negative">A-</label>
                    <span class="h5">{{stock.b_a_negative}}</span>
                </div>
                <div class="col rounded-pill pills text-light m-1 text-center">
                <label for="b_b_positive">B+</label>
                    <span class="h5">{{stock.b_b_positive}}</span>
                </div>
                <div class="col rounded-pill pills text-light m-1 text-center">
                <label for="b_b_negative">B-</label>
                    <span class="h5">{{stock.b_b_negative}}</span>
                </div>
                <div class="col rounded-pill pills text-light m-1 text-center">
                <label for="b_ab_positive">AB+</label>
                    <span class="h5">{{stock.b_ab_positive}}</span>
                </div>
                <div class="col rounded-pill pills text-light m-1 text-center">
                <label for="b_ab_negative">AB-</label>
                    <span class="h5">{{stock.b_ab_negative}}</span>
                </div>
                <div class="col rounded-pill pills text-light m-1 text-center">
                <label for="b_o_positive">O+</label>
                    <span class="h5">{{stock.b_o_positive}}</span>
                </div>
                <div class="col rounded-pill pills text-light m-1 text-center">
                <label for="b_o_negative">O-</label>
                    <span class="h5">{{stock.b_o_negative}}</span>
                </div>
            </div>

            <div class="row mt-1">
                <div class="col rounded-pill pills text-light m-1 text-center">
                <label for="RDP">RDP</label>
                    <span class="h5">{{stock.RDP}}</span>
                </div>
                <div class="col rounded-pill pills text-light m-1 text-center">
                <label for="SDP">SDP</label>
                    <span class="h5">{{stock.SDP}}</span>
                </div>
                <div class="col rounded-pill pills text-light m-1 text-center">
                <label for="FFP">FFP</label>
                    <span class="h5">{{stock.FFP}}</span>
                </div>
                <div class="col rounded-pill pills text-light m-1 text-center">
                <label for="CRYO">BCRYO</label>
                    <span class="h5">{{stock.CRYO}}</span>
                </div>

            </div>

        </div>
